/* external css */

.bg-honda-dark {
  background-color: #264653;
}

.bg-hero {
  background-color: #e5e5e5;
}

.bg-button {
  background-color: #e76f51;
}

.text-clients {
  color: #e76f51;
}

.text-hero {
  color: #23a6f0;
}

.text-banker {
  color: #8e8e91;
}
